root = true

[*]
charset = utf-8
indent_style = space
insert_final_newline = true
end_of_line = lf


[*.{java,gradle,gitignore,editorconfig,form,html}]
trim_trailing_whitespace = true


[*.{java,gradle,form}]
indent_size = 4


[*.{html,json,yaml,yml}]
indent_size = 2
