# Ignore Gradle project-specific cache directory
.gradle
buildSrc/.gradle

# Ignore Gradle build output directory
build
*/build
*/src/main/generated
*/bin

# Ignore IDE settubgs directory
.idea/
*.iml
*.ipr
*.iws

.profileconfig.json
static-analysis.datadog.yml

# Ignore Eclipse settings directory
# Idk


# Ignore the test directory
run

# Ignore Log files
*.log
*.hprof
